.al-header{
  margin: 0 auto;
  text-align: center;
  font-family:hobostd;
  padding-bottom: 10px;
  padding-top: 10px;

  .al-matiere-title{
    height: 27px;
    padding-left: 20px;
    padding-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    color: #af2320;
    background-image: url("../assets/img/12-01.png");
    background-size: cover;
    background-color: rgba(255, 23, 23, 0.0);
  }
  .al-classe{
    width: 40px;
    height: 40px;
    border-radius: 60%;
    margin-left: -11%;
    margin-top: 5px;
    background-image: url("../assets/img/rouge-Contour-01.png");
    background-size: cover;
    color: white;

    span{
      font-size: 14px;
      text-transform: uppercase
    }
  }
}
