.al-tab-palier{
  h1{
    margin-top: -20%;
    text-align: center;
    font-family: Amperzand;
    font-weight: bold;
    font-size: 30px;
    color: #f5312c;
    span{
      font-family:sugarpunch;
      font-size: 15px;
    }
    img{
      margin-bottom: -5px;
    }
  }
  ion-row {
    margin: 0 auto;
    text-align: center;
  }
  .al-tab-paliercontent{
    width: 95%;
    background-color: $al-bg-red;
    border-radius: 20px;
  }

  .al-btn-paliercontent{
    margin-top: 5px;
    font-family: hobostd;
    ion-col{
      width:49%;
      text-align: center;
      margin: 2px;
      padding: 5px;
      font-size: 11px;
      color: white;
      background-color: $al-bg-red;
    }
    .al-btn-paliercontent-palier{
      border-top-left-radius: 2em;
      border-bottom-left-radius: 2em;
    }
    .al-btn-paliercontent-general{
      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
    }
  }
}