<div class="al-challange">
  <ion-grid>
    <div class="al-mikey">
      <div class="al-mikey-row al-mikey-mikey">
        <div  class="al-mikey-content al-mikey-content1" style="width: 60%;">
          <span>{{ title }}</span>
        </div>
        <div class="al-mikey-content al-mikey-content2" style="width: 35%;">
          <img  src="assets/img/67-01.png" alt="prof" width="55">
        </div>
      </div>
    </div>

    <div class="al-challange-content">
      <!-- Points à gagner -->
      <div class="al-row" padding-top padding-left>
        <div class="al-col al-col-img" text-center>
          <img src="assets/img/bouton-Orange-01.png" alt="points">
        </div>
        <div class="al-col al-col-point">
          {{ pointAGagner }}
        </div>
        <div class="al-col al-col-text" padding-left>
          Point à gagner
        </div>
      </div>

      <div class="al-row" padding-top padding-left>
        <div class="al-col al-col-img" text-center>
          <img src="assets/img/52-01.png" alt="points">
        </div>
        <div class="al-col al-col-point">
          {{ caurisADecrocher }}
        </div>
        <div class="al-col al-col-text" padding-left>
          Cauris à décrocher
        </div>
      </div>

      <div class="al-row" padding-top padding-left>
        <div class="al-col al-col-img" text-center>
          <img src="assets/img/53-01.png" alt="points">
        </div>
        <div class="al-col al-col-point">
          {{ niveauAPasser }}
        </div>
        <div class="al-col al-col-text" padding-left>
          Niveau à passer
        </div>
      </div>

      <div class="al-row" padding-top padding-left>
        <div class="al-col al-col-img" text-center>
          <img src="assets/img/54-01.png" alt="points">
        </div>
        <div class="al-col al-col-point">
          {{ animalADecouvrir }}
        </div>
        <div class="al-col al-col-text" padding-left>
          Animal à découvrir
        </div>
      </div>
    </div>
  </ion-grid>
</div>