
.al-challange {

  padding-bottom: 9%;
  border: 1px solid #000;
  margin-top: 10%;
  border-radius: 20%;
  background-color: $al-bg-red;

  /*-----------------------------------*\
      Resumé niveau
  \*-----------------------------------*/
  .al-row{
    width: 100%;
    .al-col{
      width: 18%;
      display: inline-block;
      font-size: 13px;
      font-family: hobostd;
      color: white;
    }
    .al-col-img{
    }
    .al-col-point{
    }
    .al-col-text{
      width: 60%;
    }
  }
  .al-challange-content{
    margin-bottom: -4%;
  }

  .al-mikey{
    width: 100%;
    margin-top: -16%;
    .al-mikey-row{
      display: inline-block;
      float: right;
      vertical-align: bottom
    }

    .al-mikey-mikey{
      float: right;
      width: 100%;
      margin-bottom: -2%;

      .al-mikey-content{
        display: inline-block;
        text-align: right;

        span{
          font-size: 18px;
          color: white;
          font-family:hobostd;
          letter-spacing: 3px;
          text-align: right;
        }
      }
    }
  }
}


