<div class="al-tab-performance">
  <p class="al-mascot"><img src="assets/img/67-01.png" alt="mascot" width="60"></p>

  <ion-row>
    <ion-col class="col-12">
      <p class="title">Moyenne & Rankingsss</p>
      <p>
        <img width="42" src="assets/img/33-01.png" alt="geometrie">
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-6 al-col-left">
      <p class="title">Activité Géométrique</p>
      <ion-row class="al-row-content">
        <ion-col col-4 class="al-content-img"><img width="42" src="assets/img/33-01.png" alt="geometrie"></ion-col>
        <ion-col col-6 class="al-content-recap">
          <img width="13" src="assets/img/n-01.png" alt="point"> 12/20 <br>
          <img width="13" src="assets/img/52-01.png" alt="point"> 3/5 <br>
          <img width="13" src="assets/img/51-01.png" alt="point"> 80/200 <br>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col class="col-6">
      <p class="title">Activité Numérique</p>
      <ion-row class="al-row-content">
        <ion-col col-4 class="al-content-img"><img width="42" src="assets/img/34-01.png" alt="geometrie"></ion-col>
        <ion-col col-6 class="al-content-recap">
          <img width="13" src="assets/img/n-01.png" alt="point"> 12/20 <br>
          <img width="13" src="assets/img/52-01.png" alt="point"> 3/5 <br>
          <img width="13" src="assets/img/51-01.png" alt="point"> 80/200 <br>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-6 al-col-left">
      <p class="title">Activité de Mesures</p>
      <ion-row class="al-row-content">
        <ion-col col-4 class="al-content-img"><img width="42" src="assets/img/35-01.png" alt="geometrie"></ion-col>
        <ion-col col-6 class="al-content-recap">
          <img width="13" src="assets/img/n-01.png" alt="point"> 12/20 <br>
          <img width="13" src="assets/img/52-01.png" alt="point"> 3/5 <br>
          <img width="13" src="assets/img/51-01.png" alt="point"> 80/200 <br>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col class="col-6">
      <p class="title">Résolution de problème</p>
      <ion-row class="al-row-content">
        <ion-col col-4 class="al-content-img"><img width="42" src="assets/img/36-01-01.png" alt="geometrie"></ion-col>
        <ion-col col-6 class="al-content-recap">
          <img width="13" src="assets/img/n-01.png" alt="point"> 12/20 <br>
          <img width="13" src="assets/img/52-01.png" alt="point">  <br>
          <img width="13" src="assets/img/51-01.png" alt="point"> 80/200 <br>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>