page-niveau {

  .al-performance{
    h1{
      text-align: center;
      font-family: 'ubuntuMono';
      font-weight: bold;
      color: white;
      margin: 0 auto;
      padding-bottom: 10px;
      font-size: 20px;
    }
    ion-row
    {
      margin: 0 auto;
      text-align: center;
    }
    ion-row:last-child{width: 90%; }

    .btn-entrainement{
      font-family: hobostd;
      text-transform: inherit;
      height: 30px;
      background: #247080;

    }
  }
}
